<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yeqing.mapper.employee.EmployeeMapper">
    <!-- 添加新员工 -->
  	<insert id="save" parameterType="employee">
  		INSERT INTO employee (username, age, hiredate) VALUES (#{username},#{age},#{hiredate})
  	</insert>
  	<!-- 删除指定员工 -->
  	<delete id="delete" parameterType="java.lang.Long">
  		DELETE FROM employee WHERE id = #{id}
  	</delete>
  	<!-- 查询指定员工 -->
  	<select id="get" parameterType="java.lang.Long" resultType="employee">
  		SELECT id,username,age,hiredate FROM employee WHERE id = #{id}
  	</select>
  	<!-- 修改指定员工信息 -->
  	<update id="update" parameterType="Employee">
  		UPDATE employee SET username = #{username}, age = #{age}, hiredate = #{hiredate} WHERE id = #{id}
  	</update>
  	<!-- 查询所有员工信息 -->
  	<select id="listAll" resultMap="baseResultMap">
  		SELECT id,username,age,hiredate FROM employee
  	</select>
  	
  	<resultMap type="employee" id="baseResultMap">
  		<id column="id" property="id"/>
  		<result column="username" property="username"/>
  		<result column="age" property="age"/>
  		<result column="hiredate" property="hiredate"/>
  	</resultMap>
  </mapper>