<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="db.properties"/>
    <!-- 配置日志 -->
    <settings>
    	<setting name="logImpl" value="LOG4J"></setting>
    </settings>
	<!-- 设置别名 -->
	<typeAliases>
		<package name="com.yeqing"/>
	</typeAliases>
	<!-- 配置运行环境 -->
	<environments default="development">
		<environment id="development">
			<!-- 配置事务管理器 -->
			<transactionManager type="JDBC"/>
			<!-- 配置数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}"/>
		    	<property name="url" value="${jdbc.url}"/>
		    	<property name="username" value="${jdbc.username}"/>
		    	<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置映射器 -->
	<mappers>
		<mapper resource="com/yeqing/mybatis/mapper/EmployeeMapper.xml"/>
		<mapper resource="com/yeqing/mybatis/mapper/UserMapper.xml"/>
	</mappers>
</configuration>