<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
	
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 




</script>
<!-- Bootstrap Core CSS -->
<link th:href="@{css/bootstrap.css}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link th:href="@{css/style.css}" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link th:href="@{css/font-awesome.css}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script th:src="@{js/jquery-1.11.1.min.js}"></script>
<script th:src="@{js/modernizr.custom.js}"></script>
<!--webfonts-->
<link
	th:href="'http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'"
	rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link th:href="@{css/animate.css}" rel="stylesheet" type="text/css"
	media="all">
<script th:src="@{js/wow.min.js}"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script th:src="@{js/metisMenu.min.js}"></script>
<script th:src="@{js/custom.js}"></script>
<link th:href="@{css/custom.css}" rel="stylesheet">
<!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
	<!-- main content start-->
	<div class="main-page login-page ">
		<h3 class="title1" th:text="#{login.title}">SignIn Page</h3>
		<div class="widget-shadow">
			<div class="login-top">
				<h4>[[#{login.tip1}]]<br> 
					[[#{login.tip2}]] 
					<a th:href="@{signup.html}">[[#{login.tip3}]]</a>
				</h4>

				<!-- 如果msg参数不为空，则显示出错信息 -->
				<span style="color: red;" th:if="${not #strings.isEmpty(msg)}"
					th:text="${msg}"></span>


			</div>
			<div class="login-body">
				<form th:action="@{/login}" method="post">
					<input th:type="text" class="user" name="username" th:placeholder="#{login.username}" required> 
					<input th:type="password" name="password" class="lock" th:placeholder="#{login.password}"> 
					<input th:type="submit" name="Sign In" th:value="#{login.btn}">
					<div class="forgot-grid">
						<label class="checkbox"><input type="checkbox" name="checkbox" checked>
							<i></i>[[#{login.remember}]]
						</label>
						<div class="forgot">
							<a th:href="@{#}">[[#{login.forgotPassword}]]</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>

		<div class="login-page-bottom">
			<h5>- [[#{login.or}]] -</h5>
			<div class="social-btn">
				<a th:href="@{#}"><i class="fa fa-facebook"></i><i>[[#{login.facebook}]]</i></a>
			</div>
			<div class="social-btn sb-two">
				<a th:href="@{#}"><i class="fa fa-twitter"></i><i>[[#{login.twitter}]]</i></a>
			</div>
		</div>
	</div>
    <hr/>
	<div align="center">
		<a th:href=@{/loginLanguage(l=zh_CN)}>中文</a>&nbsp;&nbsp;
		<a th:href=@{/loginLanguage(l=en_US)}>English</a>
	</div>

	<!-- Classie -->
	<script th:src="@{js/classie.js}"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		showLeftPush.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--scrolling js-->
	<script th:src="@{js/jquery.nicescroll.js}"></script>
	<script th:src="@{js/scripts.js}"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{js/bootstrap.js}">
		
	</script>
</body>
</html>